<html ng-app="myApp">
<head>
  <title>This thingy</title>
  <link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body ng-controller="RegisterCtrl as registerCtrl">
  <h1>Alyssa's App</h1>

  <table ng-show="registerCtrl.transactions.length">
    <tr>
      <td>Date</td>
      <td>Payee</td>
      <td>Amount</td>
    </tr>
    <tr ng-repeat="transaction in registerCtrl.transactions">
      <td>{{transaction.date}}</td>
      <td>{{transaction.payee}}</td>
      <td>{{transaction.amount}}</td>
    </tr>
  </table>

  <form name="transactionForm" ng-submit="registerCtrl.addTransaction()">
    <input ng-model="registerCtrl.newTransaction.date" type="text">
    <input ng-model="registerCtrl.newTransaction.payee" type="text">
    <input ng-model="registerCtrl.newTransaction.amount" type="text">
    <input type="submit" value="Create">
  </form>

  <script src="vendor/angular/angular.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
